
  
    .forinput{
      width: 285px;
      height: 36px;
      margin: 13px 0 0 -5px;
      padding-left: 10px; 
      border-radius: 5px 5px 5px 5px;
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.9); 
      background: #fff; 
     margin-left:595px;
      }   
  
      .btn_block{
        margin-left:685px;
        width: 100px;
      }


      .main_block{
          margin-top:200px;
      }