.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.cont{
  display: flex;
align-items: center;
// width: 1000px;
}

.div{
  display: block;
  // align-self: center;
}

.sub_btn{
     height: 30px;
     width: 65px;
     background-color: rgb(150, 135, 135);
     color:blue
}

// html, body {
//   display: flex;
//   justify-content: center;
//   height: 100%;
  // }
  body, div, h1, form, input, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #666;
  }

  h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    p {
    font-size: 12px;
    }
    hr {
    color: #a9a9a9;
    opacity: 0.3;
    }
    .main_block {
    max-width: 340px; 
    min-height: 460px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    margin-top:65px;
    }
    form {
    margin: 0 30px;
    }
    .account-type, .gender {
    margin: 15px 0;
    }
    input[type=radio] {
    display: none;
    }
    label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
    }
    label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
    }
    label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1c87c9;
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    
    input[type=password] {
    margin-bottom: 15px;
    }
    #icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #1c87c9;
    color: #fff;
    text-align: center;
    }
    .btn_block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }
    button:hover {
    background: #26a9e0;
    }

    .or{
      text-align: center;
    }

    
.bg_modal {
  // background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  margin-left: 536px;
  margin-top: 260px;
  width: 420px;
  height: 204px;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  }
  
  
  .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
  &:hover {
    color: #666;
  }
  }
  
  .buttons {
 
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(179, 179, 179);
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 28px;
  color: rgb(0, 0, 0);
  display: inline-block;
  &:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(185, 185, 185);
    text-decoration: none;
  }
  margin-top:30px;
  margin-left:3px;
  }

  .forinput{
    width: 285px;
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.9); 
    background: #fff; 

    }   

    .forinputotp{
      width: 285px;
      height: 40px;
      margin: 13px 0 0 -5px;
      padding-left: 10px; 
      border-radius: 5px 5px 5px 5px;
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #fff; 
      margin-top:60px;
      margin-left:30px;
      }     